body{
  height: 100%;
}

.header{
  text-align: center;
}

#quote-box{
  height: 300px;
  max-width: 500px;
  background-color: black;
  margin: auto;
  text-familty: courier;
}

#text{
  color: white;
  text-align: center;
  
}